{% extends "base.html" %}
{% block content %}
    <div class="jumbotron mx-5 my-5" style="min-height: 50%; min-height: 50vh;">
        <form method="POST">
            <div class="row">
                <div class="mx-auto">
                    <h4>Name:</h4>
                    <input name="name" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <input type="submit" class="btn btn-primary">submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}