{% extends "base.html" %}

{% block content %}
    <div class="jumbotron mx-5 my-5" style="min-height: 50%; min-height: 50vh;">
        <form action="/set" method="POST">
            <div class="row">
                <div class="mx-auto">
                    <h4>Name:</h4>
                    <input name="name" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                        <input type="radio" name='avatar' id="thing1"/><label for="thing1">Avatar1</label> 
                        <input type="radio" name='avatar' id="thing2"/><label for="thing2">Avatar2</label> 
                        <input type="radio" name='avatar' id="thing3"/><label for="thing3">Avatar3</label> 
                        <input type="radio" name='avatar' id="thing4"/><label for="thing4">Avatar4</label> 
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}