{% extends "base.html" %}

{% block content %}
<div class="jumbotron mx-5 my-5" style="min-height: 50%; min-height: 50vh;">
    <div class="row">
        <div class="mx-auto">
            <h2>Welcome to Bet it on Credit</h2>
        </div>
    </div>
    <img src="{{url_for('images', filename='cult.jpg')}}">
    <div class="row">
        <div class="mx-auto">
            <p>an interactive web game to help you learn how to improve your credit score</p>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <form action="/set" method="GET">
                <button type="submit" class="btn btn-primary">Let's get started!</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}